:root {
    --primary-color: #7282AC;
    --secondary-color: #CF6E76;
    --tertiary-color: #48748E;
    --black: #2A293A;
    --white: #F2F4F4;
    --grey: #D9D9D9;
}

body {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    min-width: 650px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#skip {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: var(--black);
    color: var(--white);
    opacity: 0;
}

#skip:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

header {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Kalam', Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 5% 0;
    margin: 5px;
}

p {
    padding: 0 5% 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: var(--primary-color);
    flex-flow:row nowrap;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    position: sticky;
    width: 100%;
    bottom: 0;
}

nav img {
    max-width: 60px; 
}

nav button {
    background-color: transparent;
    border-color: transparent;
    width: 20%;
    padding: 20px 0;
}

nav button:hover {
    box-shadow: 0 12px 16px 0 var(--black),  0 17px 50px 0 var(--black);
}

#active{
    background-color: var(--secondary-color);
}